<%= form_with(model: reserf, local: true) do |form| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% reserf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reserf_name %>
  </div>

  <div class="plan_id">
    <%= form.label :plan_id %>
    <%= form.number_field :plan_id, id: :reserf_plan_id ,in:1...7 %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :reserf_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
